:root {
  --sectionOne: rgb(0, 109, 211);
  --sectionTwo: rgb(40, 145, 243);

  --cardBody: rgb(40, 145, 243);
  --cardHeader: rgb(16, 129, 235);

  --mainText: rgb(255, 255, 255);
  --secondaryText: rgb(217, 229, 245);

  --borderColour: rgb(17, 75, 182);
  --themeDotBorder: white;
}