:root {
  /* --gradientColourOne: darkviolet;
  --gradientColourTwo: rgb(127, 0, 211); */

  --sectionOne: rgb(127, 0, 211);
  --sectionTwo: rgb(167, 32, 224);

  --cardBody: rgb(149, 68, 202);
  --cardHeader: rgb(141, 34, 212);

  --mainText: rgb(255, 255, 255);
  --secondaryText: rgb(211, 211, 211);

  --borderColour: rgb(110, 16, 150);
  --themeDotBorder: white;
}